.vs/
.idea/
*.user
*.sln.iml
*.csproj.user
bin/
obj/
.DS_Store
Thumbs.db
*.nupkg
*.snupkg
**/packages/*
launchSettings.json
*.lock.json
bagit.net/docs/*.md
bagit.net.cli/dist/previous/*
bagit.net.cli/dist/v*
